@import url('constants.css');
@import url('dark_theme.css');

body {
  font-family: sans-serif;
  background: var(--body-background-gradient);
  height: var(--body-height);
  margin: 0;
  display: flex;
  flex-direction: column;
  color: var(--font-color-dark);
}

header {
  background-color: var(--container-background-color);
  width: 100%;
  padding: var(--header-padding);
  box-shadow: var(--container-box-shadow);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 1000;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.theme-switch {
  display: flex;
  align-items: center;
  gap: var(--theme-switch-gap);
  cursor: pointer;
  position: absolute;
  right: var(--theme-switch-right);
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
  background-color: var(--slider-bgc);
  transition: var(--slider-transition);
  border-radius: var(--slider-border-radius);
}

.slider:before {
  position: absolute;
  content: '';
  height: var(--slider-before-wh);
  width: var(--slider-before-wh);
  left: var(--slider-before-lb);
  bottom: var(--slider-before-lb);
  background-color: white;
  transition: var(--slider-transition);
  border-radius: var(--slider-berore-br);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.quiz-container {
  background-color: var(--container-background-color);
  padding: var(--container-padding);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
  text-align: center;
  width: var(--container-width);
  box-sizing: border-box;
  max-width: var(--container-max-width);
}

.info-paragraph {
  grid-column: 1 / -1;
  margin-bottom: var(--paragraph-margin-bottom);
  font-size: var(--paragraph-font-size);
}

.question-container {
  margin-bottom: var(--question-margin-bottom);
  display: grid;
  gap: var(--question-gap);
}

#question-number {
  margin: 0;
  font-size: var(--question-number-font-size);
  color: var(--font-color-dark);
}

.question-text {
  margin: var(--question-text-margin);
  font-size: var(--question-text-font-size);
  color: var(--font-color-dark);
}

.question-container p {
  margin: var(--question-p-margin);
}

.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--question-gap);
}

.option {
  background-color: var(--option-background-color);
  color: white;
  border: none;
  padding: var(--option-padding);
  border-radius: var(--option-border-radius);
  cursor: pointer;
  transition: background-color var(--option-hover-transition);
}

.option:hover {
  background-color: var(--option-hover-background-color);
}

#check-btn {
  background-color: var(--nav-btn-background-color);
  color: white;
  border: none;
  padding: var(--nav-btn-padding);
  border-radius: var(--nav-btn-border-radius);
  cursor: pointer;
  transition: background-color var(--nav-btn-hover-transition);
  margin-right: 10px;
}

#check-btn:hover {
  background-color: var(--nav-btn-hover-background-color);
}

.correct,
.correct:hover {
  background-color: var(--correct-background-color);
}

.incorrect,
.incorrect:hover {
  background-color: var(--incorrect-background-color);
}

.selected:not(.correct):not(.incorrect) {
  background-color: var(--selected-background-color);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--nav-margin-top);
}

.nav-btn {
  background-color: var(--nav-btn-background-color);
  color: white;
  border: none;
  padding: var(--nav-btn-padding);
  border-radius: var(--nav-btn-border-radius);
  cursor: pointer;
  transition: background-color var(--nav-btn-hover-transition);
}

.nav-btn:disabled {
  background-color: var(--nav-btn-disabled-background-color);
  cursor: not-allowed;
}

.nav-btn:hover:enabled {
  background-color: var(--nav-btn-hover-background-color);
}

@media (max-width: 600px) {
  .quiz-container {
    padding: var(--media-600-padding);
  }

  .options-container {
    grid-template-columns: 1fr;
  }

  #question-text {
    font-size: var(--media-600-question-text-font-size);
  }

  .option {
    padding: var(--media-600-option-padding);
    font-size: var(--media-600-option-font-size);
  }

  .nav-btn {
    padding: var(--media-600-nav-btn-padding);
    font-size: var(--media-600-nav-btn-font-size);
  }

  #header {
    justify-content: flex-start;
  }

  #timer {
    margin: 0;
    order: 1;
  }

  #theme-toggle-container {
    order: 2;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  body {
    justify-content: center;
    align-items: center;
  }

  .quiz-container {
    width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 0;
  }

  .question-container {
    margin-bottom: var(--media-400-question-margin-bottom);
  }

  #question-number {
    font-size: var(--media-400-question-number-font-size);
  }

  #question-text {
    font-size: var(--media-400-question-text-font-size);
  }

  .option {
    padding: var(--media-400-option-padding);
    font-size: var(--media-400-option-font-size);
  }

  .nav-btn {
    padding: var(--media-400-nav-btn-padding);
    font-size: var(--media-400-nav-btn-font-size);
  }
}

#timer {
  font-size: var(--timer-font-size);
}
